<div *ngIf="invoices$ | async as invoices">
  <div class="relative px-5">
    <div class="flex justify-between py-8">
      <div>
        <h1
          class="font-bold text-dark text-[20px] lg:text-[32px] dark:text-light"
        >
          Invoices
        </h1>
        <p class="text-grey text-[12px] font-medium lg:text-sm">
          {{
            invoices.length > 0
              ? "There are " + invoices.length + " invoices"
              : "No invoices"
          }}
        </p>
      </div>

      <div class="flex gap-8 items-center">
        <button class="flex gap-3 items-center" (click)="toggleDropdown()">
          <p class="font-bold text-dark dark:text-light">
            <span class="block lg:hidden">Filter</span>
            <span class="hidden lg:block">Filter by status</span>
          </p>

          <div>
            <img
              [src]="
                dropdownOpen
                  ? '/assets/icon-arrow-up.svg'
                  : '/assets/icon-arrow-down.svg'
              "
              alt="arrow icon"
              class="w-4 h-4"
            />
          </div>
        </button>

        <div>
          <button
            (click)="openAddInvoice()"
            class="bg-purple rounded-full flex justify-center items-center gap-3 text-light p-2 font-bold text-[12px]"
          >
            <img
              src="/assets/icon-plus.svg"
              alt="icon plus"
              class="bg-light w-6 h-6 p-2 rounded-full flex justify-center items-center"
            />
            <span class="block lg:hidden pr-3">New</span>
            <span class="hidden lg:block pr-3 lg:text-sm">New Invoice</span>
          </button>
        </div>
      </div>
    </div>

    <div
      *ngIf="dropdownOpen"
      class="absolute top-20 lg:top-24 right-20 lg:right-40 w-40 p-4 bg-white dark:bg-darkBlue shadow-lg rounded-lg z-50"
    >
      <div class="flex items-center gap-2">
        <input type="checkbox" id="draft" />
        <label for="draft" class="text-dark font-bold dark:text-light"
          >Draft</label
        >
      </div>
      <div class="flex items-center gap-2 mt-2">
        <input type="checkbox" id="pending" />
        <label for="pending" class="text-dark font-bold dark:text-light"
          >Pending</label
        >
      </div>
      <div class="flex items-center gap-2 mt-2">
        <input type="checkbox" id="paid" />
        <label for="paid" class="text-dark font-bold dark:text-light"
          >Paid</label
        >
      </div>
    </div>
  </div>

  <div>
    <div *ngIf="invoices.length > 0; else empty">
      <app-invoice-card
        *ngFor="let invoice of invoices"
        [invoice]="invoice"
        (click)="viewDetails(invoice.id)"
      ></app-invoice-card>
    </div>

    <ng-template #empty>
      <app-empty-invoice></app-empty-invoice>
    </ng-template>

    <div *ngIf="isLoading$ | async" class="text-center">Loading...</div>
  </div>
</div>
