<div class="space-y-6 pt-20">
  <div class="flex justify-center">
    <img src="/assets/illustration-empty.svg" alt="illustration empty" />
  </div>

  <div class="text-center space-y-4">
    <p class="font-bold text-[20px] dark:text-light">There is nothing here</p>
    <div>
      <p class="text-grey text-sm lg:text-md dark:text-lightGray">
        Create an invoice by clicking the
      </p>
      <p class="text-grey text-sm lg:text-md dark:text-lightGray">
        <span class="font-bold">New </span>button and get started
      </p>
    </div>
  </div>
</div>
