
<div class="mb-4 mx-5 md:hidden bg-white dark:bg-darkBlue rounded-md p-5 flex justify-between hover:border hover:border-purple hover:cursor-pointer">
    <div class="space-y-4">
        <p class="text-dark dark:text-light font-bold"><span class="text-blueCiel">#</span>{{invoice.id}}</p>
        <div>
            <p class="text-grey dark:text-lightGrey">Due  {{invoice.paymentDue}}</p>
            <p class="text-dark dark:text-white font-bold">£ {{invoice.total}}</p>
        </div>
    </div>

    <div class="space-y-4">
        <p class="text-grey dark:text-white">{{invoice.clientName}}</p>
        <button 
        [ngClass]="{
            'bg-[#effff9] dark:bg-[#636f6b]': invoice.status === 'paid',
            'bg-[#f0f0f0] dark:bg-[#252945]': invoice.status === 'draft',
            'bg-[#fff8ee] dark:bg-[#534f4b]': invoice.status === 'pending'
        }"
        class="py-2 px- rounded-md flex gap-2 items-center justify-center w-[120px]">
            <div [ngClass]="{
                'bg-[#33D69F]': invoice.status === 'paid',
                'bg-[#000000] dark:bg-light': invoice.status === 'draft',
                'bg-[#FF8F00]': invoice.status === 'pending'
            }"
            class="h-2 w-2 rounded-full"></div>
            <p 
            [ngClass]="{
                'text-[#33D69F]': invoice.status === 'paid',
                'text-[#000000] dark:text-light': invoice.status === 'draft',
                'text-[#FF8F00]': invoice.status === 'pending'
            }"
            class="text-[#33D69F] font-bold">{{invoice.status}}</p>
        </button>
    </div>
</div>

<div class="hidden md:grid mb-4 mx-5 grid-cols-5 items-center bg-white dark:bg-darkBlue rounded-md p-5 hover:border hover:border-purple hover:cursor-pointer">
    <p class="text-dark dark:text-light font-bold"><span class="text-blueCiel">#</span>{{invoice.id}}</p>
    <p class="text-grey dark:text-lightGrey">Due  {{invoice.paymentDue}}</p>
    <p class="text-grey dark:text-white">{{invoice.clientName}}</p>
    <p class="text-dark dark:text-white font-bold text-center">£ {{invoice.total}}</p>

    <div class="flex items-center gap-3">
        <button 
        [ngClass]="{
            'bg-[#effff9] dark:bg-[#636f6b]': invoice.status === 'paid',
            'bg-[#f0f0f0] dark:bg-[#252945]': invoice.status === 'draft',
            'bg-[#fff8ee] dark:bg-[#534f4b]': invoice.status === 'pending'
        }"
        class="dark:bg-[#1a5844] py-2 rounded-md flex gap-2 items-center justify-center w-40">
            <div [ngClass]="{
                'bg-[#33D69F]': invoice.status === 'paid',
                'bg-[#000000] dark:bg-light': invoice.status === 'draft',
                'bg-[#FF8F00]': invoice.status === 'pending'
            }"
            class="h-2 w-2 rounded-full"></div>
            <p 
            [ngClass]="{
                'text-[#33D69F]': invoice.status === 'paid',
                'text-[#000000] dark:text-light': invoice.status === 'draft',
                'text-[#FF8F00]': invoice.status === 'pending'
            }"
            class="text-[#33D69F] font-bold">{{invoice.status}}</p>
        </button>

        <div>
        <img src="/assets/icon-arrow-right.svg" alt="arrow rigt icon" class="lg:w-3 lg:h-3">
        </div>
    </div>
</div>