<div
  class="fixed z-50 bg-darkBlue flex justify-between items-center lg:rounded-tr-2xl lg:rounded-br-2xl w-full lg:flex-col lg:w-20 lg:min-h-screen lg:justify-between"
>
  <div class="">
    <img src="/assets/logo.svg" alt="logo image" class="w-20 h-20" />
  </div>

  <div
    class="flex items-center gap-10 pr-8 lg:pr-0 lg:pb-6 lg:flex-col lg:gap-4"
  >
    <button (click)="toggleDarkMode()">
      <img src="/assets/icon-moon.svg" alt="mode icon" id="mode-icon" />
    </button>

    <div class="h-[80px] w-[1px] bg-grey lg:w-20 lg:h-[1px]"></div>

    <div class="">
      <img
        src="/assets/image-avatar.jpg"
        alt="profile image"
        class="rounded-full w-10 h-10 object-cover"
      />
    </div>
  </div>
</div>
